.nav-bar {
    width: 100%;
    height: 60px;
}
.content {
    width: 75%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.ozon-logo img {
    width: 150px;
    height: 30px;
}


.search-bar {
    width: 60%;
    height: 40px;
    border: 2px solid #005BFF;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: "GTEestiPro",arial,sans-serif;
}
.search-place {
    background-color: #F2F5F9;
    height: 100%;
    width: 9%;
    border-radius: 3px;
    text-align: center;
}
.search-place select {
    width: 80%;
    height: 100%;
    background-color: inherit;
}
.search-field {
    width: 91%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.search-field input {
    width: 92%;
    height: 100%;
}
.search-field button {
    width: 8%;
    height: 100%;
    background-color: #005BFF;
}
.search-field img {
    width: 20px;
    height: 20px;
}


.nav-buttons {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.nav-button span {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    text-align: center;
    border-radius: 7px;
    color: #fff;
    margin-left: 30px;
}
.nav-button:hover{
    cursor: pointer;
}
.nav-button img {
    width: 20px;
    height: 20px;
}