.cart {
    height: 700px;
    background-color: #F2F5F9;
    margin-bottom: 20px;
}
.content {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.cart-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}


.cart-head h1 {
    display: block;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 40px;
}
.cart-head span {
    position: absolute;
    margin-left: 100px;
    margin-top: 40px;
}


.cart-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.cart-left {
    width: 64%;
    height: 100px;
}
.left-head, .left-body {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 3px;
}
.left-head {
    border-bottom: 3px solid #F2F5F9;
}
.head-wrapper {
    width: 95%;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
}
.head-wrapper span {
    margin-left: 10px;
}
.left-body {
    display: flex;
    flex-direction: column;
}



.cart-right {
    width: 34%;
    height: auto;
}

.right-green-button, .right-sum {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 3px;
}
.right-green-button {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #F2F5F9;
}
.right-green-button button {
    width: 90%;
    height: 50px;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 16px;
    background-color: #10C44C;
    border-radius: 6px;
}

.right-sum {
    width: 100%;
    height: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sum-count, .sum-final {
    width: 90%;
}
.sum-count {
    margin-top: 10px;
    border-bottom: 1px solid #F2F5F9;
}
.right-sum table {
    width: 100%;
}
.right-sum tr {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-sum th {
    font-size: 20px;
}
.right-sum hr {
    background-color: #F2F5F9;
}
.red {
    color: red;
}
.bolder {
    font-weight: bolder;
}
