
.content {
    width: 75%;
    margin: auto;
}
.recommended h1 {
    display: block;
    font-size: 20px;
    font-weight: bolder;
}
.recommended-wrapper {
    display: flex;
    flex-direction: row;
}